{% extends 'base.html'%}

{% block title %}
<title>Онлайн-магазин</title>
{%endblock%}

{% block body %}
<div class="pricing-header p-3 pb-md-3 mx-auto text-center">
      <h1 class="display-4 fw-normal">Экошубы онлайн</h1>
      <p class="fs-5 text-muted"> Шубы из экомеха - настоящий тренд нового сезoна. Они завоевали любовь уже миллионов покупательниц. </p>
</div>
<main>
  <div class="container-fluid">
      <div class="row">

       {% for el in items %}
          <div class="col-sm-3 offset-md-1">

            <div class="card-deck mb-4 text-center">
             <div class="col">
              <div class="card mb-4 rounded-2 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">{{el.title}}</h4>
                </div>
                  <img class="card-img-top" src="data:image/jpeg;base64,{{ el.photo | b64d }}"  id='myImg' alt="Card image">
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">{{el.price}}<small class="text-muted fw-light">  руб.</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                      <li>{{el.description}}</li>

                  </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">В каталог</button>
                    <a href="/buy/{{el.id}}" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
                </div>
              </div>
             </div>
          </div>
        </div>
     {%endfor%}
   </div>
  </div>
</main>


{% endblock%}

